body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
}

.account-box {
  background-color: #c8d8e8;
  padding: 5px 10px;
  overflow: hidden;
}

.account-box form {
  display: inline;
  margin-right: 10px;
  overflow: hidden;
}

.search-box {
  float: right;
  display: inline;
}

.search-box input[type="text"] {
  width: 140px;
  margin-right: 5px;
}

.story-item {
  border: 2px solid #dddddd;
  padding: 1%;
  box-shadow: 0px 10px 5px -5px #848484;
  margin-bottom: 20px;
}

.header-bar {
  margin: 0px;
  color: white;
  background: linear-gradient(0deg, #3560aa, #4d77c1);
  padding: 10px;
  box-shadow: 0px 3px 10px #848484;
}

main {
  padding: 5% 5% 0;
  margin-bottom: 3%;
}

footer {
  background-color: #c8d8e8;
  padding: 5px 10px;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  /* Adjust this value if needed for vertical positioning */
  right: 10px;
  /* This will push the button to the right edge with a 10px space */
}

.login-box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  /* or your desired width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* ensure modal is on top */
}

.login-button {
  float: left;
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.task-card-container {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
}

.task-card:hover {
  transform: scale(1.05);
}
