.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.title {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0;
  flex-grow: 1; /* Allow the title to take up available space */
  text-align: center;
}

.login-button {
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensure modal is on top */
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* or your desired width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
  display: flex;
  align-items: center;
}

input[type="text"] {
  margin-right: 10px;
  padding: 5px;
}

button {
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}